<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>Logback Demo</contextName>
    <property name="LOG_HOME" value="D:/logs" />
    <property name="CHARSET" value="UTF-8" />
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n" />
    <!-- 控制台輸出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder默認配置為PartternLayoutEncoder    -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <root level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>